body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/** Scrollbars across the application */

div,
textarea {
  scrollbar-color: rgba(169, 169, 169, 0.5);
  scrollbar-width: thin;
}

div::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 0.5rem;
}

div::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
  outline: 1px solid slategrey;
}
